.modal_anim {
    opacity: 0;
}
.modal_anim-enter {
    opacity: 0;
}
.modal_anim-enter-active {
    opacity: 1;
    transition: all 300ms;
}
.modal_anim-enter-done {
    opacity: 1;
}
.modal_anim-exit {
    opacity: 1;
}
.modal_anim-exit-active {
    opacity: 0;
    transition: all 300ms;
}
.modal_anim-exit-done {
    display: none;
    opacity: 0;
}

.test {
    opacity: 0;
}

.test-enter {
    opacity: 0;
}
.test-enter-active {
    opacity: 1;
    transition: all 300ms;
}
.test-enter-done {
    opacity: 1;
}
.test-exit {
    opacity: 1;
}
.test-exit-active {
    opacity: 0;
    transition: all 3000ms;
}
.test-exit-done {
    display: none;
    opacity: 0;
}